/*layout*/
.grid,.pokemonImage,.pokedexHead {
  margin-right: 10%;
  margin-left: 10%;
  max-width: 1055px;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.column-left, .column-right {
  width: 50%;
  float: left;
}
.pokedexHead {
  border: 2px solid #945BE9;
  background-color: #FFC628;
  font-family: Verdana, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-right: 0.010869565217391304%;
  padding-bottom: 5px;
  padding-left: 0.010869565217391304%;
  text-align: center;
  font-size: 50px;
  border-radius: 2px;
}
.pokemonImage {
  text-align: center;  
}
.pokemonImage img {
  max-width: 100%;
  height: 100px;
}
#load-more {
  padding: 20px;
  border: 1px solid #945BE9;
  text-align: center;
  margin-top: 22px;
  margin-left: 1%;
  margin-right: 11%;
  padding: 10px 20px 10px 20px;  
  height: 20px;
  width: 86%;
  border-radius: 12px;
  background-color:#FFC628;
  box-shadow: 2px 2px 2px #888888;
  cursor: pointer;
}

/*form with a Pokemon*/
.pokemon {
  padding: 2.5%;
  border: 2px solid #945BE9;
  display: inline-block;
  margin: 1%;
  height:200px;
  width: 24%;
  border-radius: 12px;
  background-color:#FFC628;
  box-shadow: 2px 2px 2px #888888;
  text-align: center;
}
.pokemon img {
  max-width: 100%;
}
.hidden-info {
  display: none;
}
.backgroundColor {    
  background-color:#FFDB0F;
}
.name {    
  text-transform: capitalize;
  color: red;
  width: auto;
  height: auto;
  position: relative;
  float: none;
  text-align: center;
}
.abilities {
  content: "";
  clear: both;
  display: table;
  margin: 10px 0px 0 2px;
}
.type {
  border: none;
  color: black;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.electric { background-color: #FFFF00; }
.poison { background-color: #9900FF; }
.grass { background-color: #33FF00; }
.fire { background-color: #FF3300; }
.bug { background-color: #CC9900; }
.water { background-color: #003399; }
.flying { background-color: #CC0000; }
.normal { background-color: #FFFF99; }
.fighting { background-color: #C03028; }
.ground { background-color: #C03028; }
.fairy { background-color: #C03028; }
.rock { background-color: #FFFF00; }
.ghost { background-color: #9900FF; }
.steel { background-color: #33FF00; }
.psychic { background-color: #FF3300; }
.ice { background-color: #CC9900; }
.dragon { background-color: #CC9900; }
.dark { background-color: #003399; }
.closeable {
  padding-right: 25px;
  background-image: url('../images/close.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right center;
}

/*Pokemon info in table right */
#rectangle-profile {
  border: 2px solid #945BE9;
  position: fixed;
  width: 20%;
  max-width: 271px;
  height: 500px;
  background-color: #FFC628;
  top: 222px;
  border-radius: 12px;
  box-shadow: 2px 2px 2px #888888;
  display: none;
}
#rectangle-profile img {
  margin-top: 40px;
  margin-bottom: 40px;
}
#rectangle-profile div {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2em;
}
#rectangle-profile table {
  border: 1px solid black;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}
#rectangle-profile table td{
  border: 1px solid black;
}
#rectangle-profile table td.key {
  color: red;
}
#rectangle-profile table td.value {
  color: blue;
}
.pokemonProfile {    
  width: 50%;
  min-height: 150px;
  float: left;
  color: blue;
  text-align: center;
  text-transform: capitalize;
}
.hide-profile {
  background-image: url('../images/close.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 15%;
  width: 15%;
  position: absolute;
  top: -30px;
  left: 92%;
  cursor: pointer;
}
